# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
conda_env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Logs
*.log
